<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{layout/plantilla :: head}">
        <title>Lightning Technologies</title>
    </head>
    <body>

        <!-- Bienvenida a la pagina de Lista de Equipos de Computo -->

        <section th:fragment="listado" class="container">
            <p class="text-center fs-5" style="color: #F28E13;"><strong>Laptops para Cada Estilo de Vida</strong></p>
            <p class="text-center fs-5">Encuentra la compañera ideal para trabajo o juego. Velocidad, estilo y versatilidad te esperan.</p>

            <!-- Equipos disponibles para compra -->

            <div class="row">
                <div th:each="equipo : ${equipos}" class="col-md-4 mb-4" style="max-width: 300px;">
                    <div class="card h-100" style="border: 1px solid #0F447D;">
                        <div class="d-flex justify-content-center">
                            <img th:src="${equipo.rutaImagen}" class="card-img-top" th:style="'height:200px; width:200px; object-fit:contain;'" alt="Imagen de equipo" th:alt="${equipo.modelo}">
                        </div>
                        <div class="card-body" style="text-align: center; flex-grow: 1;"> 
                            <h5 class="card-title" th:text="${equipo.marca}">ID de Marca</h5>
                            <h5 class="card-text" th:text="${equipo.modelo}">Modelo de equipo</h5>
                            <div style="display: flex; justify-content: space-between; align-items: center; background-color: #0F447D; color: #FFFFFF; padding: 5px; border-radius: 5px;">
                                <p class="card-text" style="margin-right: 5px; margin-bottom: 0;">CRC <span th:text="${equipo.precio}">Precio</span></p>
                                <a href="#" class="btn btn-primary" style="background-color: #F28E13; color: #0F447D; margin-left: 5px;">Añadir a carrito</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>